body{
    height: 100vh;
    border: 2px solid black;
    margin: auto;
    align-content: center;
    justify-content: center;
}
.container {
    display: grid;
    grid-template-columns: 100px 100px;
    justify-content: center;
    position: absolute;
  }
  #hi {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 80px;
  margin-right: -100px;
  font-size: 2em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  #box {
    width: 100px;
    height: 100px;
    background-color: red;
    transition: all ease-in-out 1s;
  }
  .container:hover #box {
    transform: rotate(90deg) translateY(90%);
  }
  #box2{
    width: 100px;
    height: 100px;
    background-color: blue;
    transition: all ease-in-out 1s;
  }
  .container:hover #box2 {
    transform: rotate(-90deg) translateY(90%);
  }
  #box3 {
    width: 100px;
    height: 100px;
    background-color: yellow;
    transition: all ease-in-out 1s;
  }
  .container:hover #box3 {
    transform: rotate(-90deg) translateY(-90%);
  }
  #box4{
    width: 100px;
    height: 100px;
    background-color: green;
    transition: all ease-in-out 1s;
  }
  .container:hover #box4 {
    transform: rotate(90deg) translateY(-90%);
  }