#dot{
	position:absolute;
   
	left: 150px;
	top: 15px;
 	font-size: 50px;
    border:none;
    padding:0;
    margin:0;

}

.blue #txtMin{
	position:absolute;
    box-sizing: border-box;
	width:60px;
	left: 95px;
	top:140px;
 	font-size: 50px;
    background-color: #0781D4;
    border:none;
    padding:0;
    margin:0;
    
}

.blue #txtSec{
	position:absolute;
    box-sizing: border-box;
	width:60px;
	left: 165px;
	top: 140px;
 	font-size: 50px;
    background-color: #0781D4;
    border:none;
    padding:0;
    margin:0;
    
}

.blue .inside{
    position:absolute;
	left: 100px;
	top:  170px;
	font-size:50px:
    margin: 0;
    padding: 0;
    transform: translateY(-50%);
}

.blue {
  height: 300px;
  width: 300px;
  margin-top: 20px;
  margin-bottom: 5px;
  line-height:300px;
  background-color: #0781D4;
  border-radius: 50%; 
  text-align:center;
  font-size:50px;
}

.red {
  height: 300px;
  width: 300px;
  margin-top: 20px;
  margin-bottom: 5px;
  line-height:300px;
  background-color: red;
  border-radius: 50%; 
  text-align:center;
  font-size:50px;
}