body {
  background-color: #355070;
  text-align: center;
  box-sizing: border-box;
}
button {
  
  margin: 2px;
  border-radius: 6px;
  font-size: 16px;
}
.container {
  background-color: rgb(70, 75, 111);
  margin-left: auto;

}

.title {
  color: white;
}
h1, h2, h3 {
  color: #ead27a;
  font-family: 'Chau Philomene One', sans-serif;
  
}
span {
  color: white;
}
.decScore {
  background-color: #e56b6f;
}
.incScore {
  background-color: #2a7197;
}
.reset {
  background-color: red;
}
.getQuestion {
  background-color: #ead27a
}
.togAnswer {
  border-radius: 6px;
  font-size: 16px;
  background-color: rgb(6, 30, 56);
  color: white;
  font-weight: bold;
}

.answer, .question {
  color: whitesmoke;
  font-weight: bolder;
  font-size: larger;
}