#input{
	width: 50px;
	margin: auto;
  }
  
  .blue {
	height: 300px;
	width: 300px;
	margin-top: 20px;
	margin-bottom: 5px;
	line-height:300px;
	background-color: #0781D4;
	border-radius: 50%; 
	text-align:center;
	font-size:50px;
  }
  
  .red {
	height: 300px;
	width: 300px;
	margin-top: 20px;
	margin-bottom: 5px;
	line-height:300px;
	background-color: red;
	border-radius: 50%; 
	text-align:center;
	font-size:50px;
  }

/* body{

}
#timer{
	width:255px;
    height:255px;
	border-radius: 50%;
	text-align: center;
	font-size: 50px;
	line-height: 500%;
}

.blue {
	background-color: #0781D4;
}

.red {
	background-color: red;
} */