*{
  box-sizing:border-box
}

body {
  margin:0;
  background:#222;
  background: linear-gradient(90deg, rgba(2,0,36,1) 7%, rgba(9,9,121,1) 41%, rgba(180,0,255,1) 100%);
  font-family: 'Potta One', cursive;
}

#root{
  height:18.875em;
  width:35em;
  margin:8em auto;
  padding:3em 0 0 2.5em;
  position: relative;;
  border:1px solid #160801;
  border-radius:1em;
  background:linear-gradient(to bottom right,rgba(0,0,0,0.3),rgba(0,0,0,0)),url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/187/vwood.png);
  box-shadow:0 0 50px rgba(0,0,0,0.5) inset,0 1px rgba(212,152,125,0.2) inset,0 5px 15px rgba(0,0,0,0.5)
}

.wrapper-white{
  height:16em;
  width:4em;
  z-index:1;
  border-left:1px solid #bbb;
  border-bottom:1px solid #bbb;
  border-radius:0 0 5px 5px;
  box-shadow:-1px 0 0 rgba(255,255,255,0.8) inset,0 0 5px #ccc inset,0 0 3px rgba(0,0,0,0.2);
  background:linear-gradient(to bottom,#eee 0%,#fff 100%)
}

.wrapper-white:active {
  border-top:1px solid #777;
  border-left:1px solid #999;
  border-bottom:1px solid #999;
  box-shadow:2px 0 3px rgba(0,0,0,0.1) inset,-5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2);
  background:linear-gradient(to bottom,#fff 0%,#e9e9e9 100%);
}

.black-keys{
  color: white;
  height:8em;
  width:2em;
  z-index:2;
  border:1px solid #000;
  border-radius:0 0 3px 3px;
  box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -5px 2px 3px rgba(0,0,0,0.6) inset,0 2px 4px rgba(0,0,0,0.5);
  background:linear-gradient(45deg,#222 0%,#555 100%);
}

.black-keys:nth-child(1) {  
  /* border: 2px solid greenyellow;  */
  position: absolute;
  left: 120px;
  top: 48px;
}
.black-keys:nth-child(2) {  
  /* border: 2px solid #77EDFA;  */
  position: absolute;
  left: 170px;
  top: 48px;
}
.black-keys:nth-child(3) {  
  /* border: 2px solid orange;  */
  position: absolute;
  left: 278px;
  top: 48px;
}
.black-keys:nth-child(4) {  
  /* border: 2px solid red;  */
  position: absolute;
  left: 332px;
  top: 48px;
}
.black-keys:nth-child(5) {
  /* border: 2px solid blue;      */
  position: absolute;
  left: 385px;
  top: 48px;   
}
.black-keys:active {
  box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -2px 2px 3px rgba(0,0,0,0.6) inset,0 1px 2px rgba(0,0,0,0.5);
  background:linear-gradient(to right,#444 0%,#222 100%);
}

.black-keys:hover{
  background-color: red;
}

button{
  color: rgba(255, 187, 0, 0.87);;
  background-color: maroon;
  font-family: 'Potta One', cursive;
}

button:hover{
  color:white;
  background-color: black;
}

.arpeggios:nth-child(1){
  position: absolute; top: 20px; left: 110px;
}
.arpeggios:nth-child(2){
  position: absolute; top: 20px; left: 130px;
}

h1{
    font-size: 10vmin;
    margin: 0;
    background:linear-gradient(to bottom right,rgba(0,0,0,0.3),rgba(0,0,0,0)),url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/187/vwood.png);
    box-shadow:0 0 50px rgba(0,0,0,0.5) inset,0 1px rgba(212,152,125,0.2) inset,0 5px 15px rgba(0,0,0,0.5);
    text-align: center;
    color: rgba(255, 187, 0, 0.87);
    animation: glow 3s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 20px #2d9da9;
  }
  to {
    text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
  }
}

h1 {
  color: rgba(255, 187, 0, 0.87);
  transition: color 2s ease-in-out;
}

h1:hover {
  color: blueviolet;
  transition: 5s;
}
