*{
  box-sizing:border-box
}

body {
  margin:0;
  background:#222;
  background: linear-gradient(90deg, rgba(2,0,36,1) 7%, rgba(9,9,121,1) 41%, rgba(180,0,255,1) 100%);
  font-family: 'Potta One', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

.bkey{
  position: relative; top: 200;
  float: right;
}

.wrapper{
  height:18.875em;
  width:35em;
  margin:8em auto;
  padding:3em 0 0 2.5em;
  position: relative;;
  border:1px solid #160801;
  border-radius:1em;
  background:linear-gradient(to bottom right,rgba(0,0,0,0.3),rgba(0,0,0,0)),url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/187/vwood.png);
  box-shadow:0 0 50px rgba(0,0,0,0.5) inset,0 1px rgba(212,152,125,0.2) inset,0 5px 15px rgba(0,0,0,0.5)
}

.wrapper-white{
  align-content:center;
  height:16em;
  width:4em;
  z-index:1;
  border-left:1px solid #bbb;
  border-bottom:1px solid #bbb;
  border-radius:0 0 5px 5px;
  box-shadow:-1px 0 0 rgba(255,255,255,0.8) inset,0 0 5px #ccc inset,0 0 3px rgba(0,0,0,0.2);
  background:linear-gradient(to bottom,#eee 0%,#fff 100%)
}

.bkcontainer{
  position: relative; left: 200; bottom: 200;
  z-index:1;
  justify-content: space-evenly;
  
}

.black-keys{
  color: white;
  height:8em;
  width:2em;
  margin:10 10 10 -1em;
  margin: 5%;
  z-index:2;
  border:1px solid #000;
  border-radius:0 0 3px 3px;
  box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -5px 2px 3px rgba(0,0,0,0.6) inset,0 2px 4px rgba(0,0,0,0.5);
  background:linear-gradient(45deg,#222 0%,#555 100%);
}


button:hover{
  color: red;
}


.arpeggios{
  grid-column: 33%, 33%, 33%, 1em;
}

h1{
    font-size: 10vmin;
    margin: 0;
    background:linear-gradient(to bottom right,rgba(0,0,0,0.3),rgba(0,0,0,0)),url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/187/vwood.png);
    box-shadow:0 0 50px rgba(0,0,0,0.5) inset,0 1px rgba(212,152,125,0.2) inset,0 5px 15px rgba(0,0,0,0.5);
    text-align: center;
    /* color: #D1C236;
    color: linear-gradient(120deg, #D1C236, #D080C7); */
    color: #77EDFA;
    animation: dot var(--duration) var(--easing) both;
}

@keyframes text-bonk {
  80%,
  85%,
  to {
    transform: none;
  }
  82% {
    transform: translateX(-20%);
  }
}
