.hero-image {
    background-image: url("https://images.unsplash.com/photo-1487715433499-93acdc0bd7c3?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2614&q=80");
    background-color: none;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;   
  }

.grid{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(3, 33%);
    height: 100%;
    width: 100%;
    
}
.cell{
    width:255px;
    height:255px;
    background: blue;
    border-radius: 50%;
}

.cell:hover{
    opacity: .5;
}
