#learn-bridge {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Exercise Begin */
#modal{

}

#modal-textbox{

}

#modal-footer{

}

.modal-buttons{
    
}

/* Exercise End */