body{
    display: grid;    
    border: solid black 2px;
    width: 250px;
    padding: 25px;
}

#calc{
    display: grid;
    align-content: center;
    
}

#buttons{
    display: grid;
    margin: 20px;
    padding: 5px;
    border: solid black;
}

